* {
    font-family: liberation-sans, sans-serif;
  
  }
  
  div {
    padding: .5%;
  }
  
  form {
    margin-top: 3%;
    text-align: center;
  }
  
  
  a {
  
    text-decoration: none;
    color: black;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .headerNav {
    display: flex;
    flex-flow: row-wrap;
    font-size: 14px;
  }
  
  .leftNav {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    padding-left: 15px;
  }
  
  .leftNav a {
    padding-right: 15px;
    display: block;
    width: auto;
  }
  
  .rightNav {
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
    width: 50%;
    padding-left: 15px;
  }
  
  .rightNav a {
    padding-right: 15px;
  }
  
  .grid {
    background-position: -132px -38px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    padding-right: 30px;
    padding-top: 9px;
    padding-left: 21px;
  }
  
  .rightNav button {
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    border: 0px;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -30%;
    outline: none;
  
  }
  
  img.googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  .searchBox {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .searchButtons {
    text-align: center;
    margin-top: 1.5%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .searchButtons button {
    text-align: center;
    margin-top: 1.5%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footerNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 236, 236);
  }
  
  input[type=text] {
    width: 450px;
  
  
    border: 1px solid lightgray;
    border-radius: 25px;
    height: 40px;
    outline: none;
  
  }
  
  input[type=text]:hover {
    box-shadow: 2px 2px 10px lightgray, -2px 2px 10px lightgray;
  
  }
  
  #searchBar {
    background-image: url('http://assets.stickpng.com/thumbs/585e4ae1cb11b227491c3393.png');
    background-position-x: 3%;
    background-position-y: center;
    position: left;
    padding-left: 40px;
    background-size: 15px;
    /* background-size: 20px; */
    background-repeat: no-repeat;
  }
  
  .micButton {
    position: absolute;
    padding-top: .25%;
    left: 61%;
    height: 30px;
  }
  