* {
    font-family: liberation-sans, sans-serif;
  
  }
  
  div {
    padding: .5%;
  }
  
  form {
    margin-top: 3%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  a {
  
    text-decoration: none;
    color: black;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .headerNav {
    display: flex;
    flex-flow: row-wrap;
    font-size: 14px;
  }
  
  .leftNav {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    padding-left: 15px;
  }
  
  .leftNav a {
    padding-right: 15px;
    display: block;
    width: auto;
  }
  
  .rightNav {
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
    width: 50%;
    padding-left: 15px;
  }
  
  .rightNav a {
    padding-right: 15px;
  }
  
  .grid {
    background-position: -132px -38px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    padding-right: 30px;
    padding-top: 9px;
    padding-left: 21px;
  }
  
  .rightNav button {
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    border: 0px;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -30%;
    outline: none;
  
  }
  
  img.googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  .searchBox {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 480px;
  
  }

  .searchBox:hover {
    box-shadow: 0px 0px 10px lightgray, -0px 0px 0px lightgray;
    border-radius: 25px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;


  }
  
  .searchButtons {
    text-align: center;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: 10px;
  }

  .searchButtons button {
    text-align: center;
    margin-top: 1.5%;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    height: 40px;
    width: 120px;
    border-radius: 3px;
  }

  .searchButtons button:hover {
    border: 1px solid lightgray;
  }
  
  .footerNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 236, 236);
  }
  
  input[type=text] {

    width: 450px;  
    border: 1px solid lightgray;
    border-right: 0px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    outline: none;
  
  }
  
  /* input[type=text]:hover, img.micButton:hover {
    box-shadow: 0px 0px 10px lightgray, -0px 0px 0px lightgray;
  } */
  
  #searchBar {
    
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/search-1767866-1502119.png');
    background-position-x: 3%;
    background-position-y: center;
    padding-left: 40px;
    background-size: 18px;
    background-repeat: no-repeat;

  }
  
  img.micButton {
    height: 32px;
    width: 30px;
    margin: 0;
    border: 1px solid lightgray;
    border-left: 0px;
    border-radius: 0 25px 25px 0; /* tl tr br bl */
    padding: 5px;
  }
  
  /* img.micButton:hover {
    box-shadow: 0px 0px 10px lightgray, -0px 0px 0px lightgray;
  } */

  div.searchBox {
    height: 40px;
  }